/*

bootstrap template - login-form Template
Version: 1.0
By: dave-cheon

*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	font-family: 'Nanum Gothic', sans-serif;
}

.spaceLeft {
	margin-left: 10px;
}

.spaceRight {
	margin-right: 10px;
}

/* custom checkbox */
.btn span.fa {
	opacity: 0;
}

.btn.active span.fa {
	opacity: 1;
}

/* #inputFirstName { */
/* 	margin-left: 0px; */
/* } */

/* #inputLastName { */
/* 	margin-left: 0px; */
/* } */

/* .sub_content h3 { */
/* 	padding-top: 15px; */
/* 	background: url(../img/accommodation/tit_line.png) 0 0 no-repeat; */
/* 	font-size: 38px; */
/* 	color: #000; */
/* 	margin: 0 auto; */
/* 	width: 1200px; */
/* 	font-family: 'Noto Sans'; */
/* } */

/* reset.css: 68 */
/* h1, h2, h3, h4, h5, h6, th { */
/* 	font-weight: normal; */
/* 	font-family: 'Noto Sans Bold'; */
/* } */

/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* user agent stylesheet */
/* h3 { */
/* 	display: block; */
/* 	font-size: 1.17em; */
/* 	-webkit-margin-before: 1em; */
/* 	-webkit-margin-after: 1em; */
/* 	-webkit-margin-start: 0px; */
/* 	-webkit-margin-end: 0px; */
/* 	font-weight: bold; */
/* } */

.sub_content p.sub_txt {
	margin: 0 auto 30px;
	width: 1200px;
	padding-top: 10px;
	font-size: 14px;
	color: #838383;
	line-height: 1.4;
}

.so_view_tit p.tit {
	margin-bottom: 15px;
	font-size: 22px;
	color: #000;
}

.so_view_tit p.info {
	font-size: 12px;
	color: #a1a1a1;
	line-height: 1.4;
}

.so_view_con {
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 85px;
	border-bottom: 1px solid #c4c4c4;
	font-size: 14px;
	color: #000;
	line-height: 2;
}

.sub_content h3 {
	padding-top: 15px;
	font-size: 38px;
	color: #000;
	margin: 0 auto;
	width: 1200px;
	font-family: 'Noto Sans';
}

.so_view_wr div.btn_wr {
	height: 40px;
}

.so_view_wr a.btn_list {
	float: right;
	display: block;
	width: 180px;
	height: 40px;
	line-height: 40px;
	background: #333;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.sub_section {
	/* background: #dedede; */
	padding: 30px 0 95px 0;
}

.so_view_tit {
	padding-bottom: 25px;
	border-bottom: 1px solid #000;
}

/* element.style { */
	
/* } */

/* content.css: 920 */
/* .so_view_tit { */
/* 	padding-bottom: 25px; */
/* 	border-bottom: 1px solid #000; */
/* } */

/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* user agent stylesheet */
/* div { */
/* 	display: block; */
/* } */

/* Inherited from div.so_view_wr */
/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* Inherited from div.sub_content */
/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* Inherited from section.sub_section */
/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* Inherited from div#container */
/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* Inherited from div#wrap */
/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* Inherited from body */
/* reset.css: 14 */
/* body { */
/* 	font-family: 'Noto Sans', sans-serif; */
/* 	font-size: 1em; */
/* 	line-height: 1; */
/* 	min-width: 320px; */
/* 	overflow-x: hidden; */
/* } */

/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* Inherited from html */
/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */


/* reset.css: 5 */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, */
/* 	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, */
/* 	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, */
/* 	th, td, article, aside, canvas, details, figcaption, figure, footer, */
/* 	header, hgroup, menu, nav, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	vertical-align: baseline; */
/* 	background: transparent; */
/* } */

/* user agent stylesheet */
/* div { */
/* 	display: block; */
/* } */

.sub_section {
	/* background: #dedede; */
	padding: 30px 0 95px 0;
}

.so_view_wr {
	margin: 0 auto;
	width: 1200px;
}