<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- db.properties 파일 연결 -->
<properties resource="db.properties"></properties>

<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<!-- class name alias -->
 <typeAliases>
	<typeAlias type="hotel.model.Customer" alias='customer'/>
	<typeAlias type="hotel.model.Eventinfo" alias='eventinfo'/>
	<typeAlias type="hotel.model.Accommodation" alias='acc'/>
	<typeAlias type="hotel.model.Reservation" alias='reservation'/>
	<typeAlias type="hotel.model.Payment" alias='payment'/>
 </typeAliases>
 <environments default="development">
	<environment id="development">
	<transactionManager type="JDBC"/>
	<dataSource type="POOLED">
		<property name="driver" value="${db.driver}"/>
		<property name="url" value="${db.url}"/>
		<property name="username" value="${db.user}"/>
		<property name="password" value="${db.pass}"/>
	</dataSource>
	</environment>
 </environments>
 <mappers>
	<!-- 여러개의 매퍼를 등록 -->
	<mapper resource="hotel/mapper/CustomerMapper.xml"/>
	<mapper resource="hotel/mapper/EventinfoMapper.xml"/>
	<mapper resource="hotel/mapper/ReservationMapper.xml"/>
 </mappers>
</configuration>